body
{
	margin: 0; 
	background-image: url(../pic/bg1.png);
}

.centered
{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.mainbody
{
	display: none;
}

.floatleft
{
	float: left;
}

.floatright
{
	float: right;
}

.simplecontainer
{
	width:auto;
	height: auto;
}

.preimage
{
position: relative;
top: -60px;
cursor: move;
}

#hint
{
position: absolute;
top: 0px;
left: 0px;
width: 295px;
height: 163px;
background-image: url(../pic/hint.png);
background-repeat: no-repeat;
background-position: top left;
}

#banner
{
	width: 554px;
	height: 148px;
	background-image: url(../pic/logo.png);
	cursor: move;
}

#maincontainer
{

	border-radius: 3px;
	background-image: none;
	height: 400px;
	width: 810px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

a.option:link
{
border-bottom-color:  #f40e80;
border-bottom-style: dashed;
border-bottom-width: 1px;
border-top-color:  #f40e80;
border-top-style: dashed;
border-top-width: 1px;
width: 190px;
display: block;
outline: none none none none;
cursor: pointer;
}

a.option
{
cursor: pointer;
}

a.option:hover
{
background-color: #f66fb2;
border-bottom-color: #f40e80;
border-bottom-style: dashed;
border-bottom-width: 1px;
border-top-color: #f40e80;
border-top-style: dashed;
border-top-width: 1px;
cursor: pointer;
}

a.option:visited
{
border-bottom-color:  #f40e80;
border-bottom-style: dashed;
border-bottom-width: 1px;
border-top-color:  #f40e80;
border-top-style: dashed;
border-top-width: 1px;
width: 190px;
display: block;
outline: none none none none;
cursor: pointer;
} 

a.selected:link
{
background-color: #f66fb2;
border-bottom-color: #f40e80;
border-bottom-style: dashed;
border-bottom-width: 1px;
border-top-color: #f40e80;
border-top-style: dashed;
border-top-width: 1px;
width: 190px;
display: block;
outline: none none none none;
cursor: default;
}

a.selected:hover
{
background-color: #f66fb2;
border-bottom-color: #f40e80;
border-bottom-style: dashed;
border-bottom-width: 1px;
border-top-color: #f40e80;
border-top-style: dashed;
border-top-width: 1px;
width: 190px;
display: block;
outline: none none none none;
cursor: default;
}

a.selected:visited
{
background-color: #f66fb2;
border-bottom-color: #f40e80;
border-bottom-style: dashed;
border-bottom-width: 1px;
border-top-color: #f40e80;
border-top-style: dashed;
border-top-width: 1px;
width: 190px;
display: block;
outline: none none none none;
cursor: default;
}

#menu
{
	-webkit-box-shadow: 0px 0px 10px 1px white;
	-moz-box-shadow: 0px 0px 10px 1px white;
	box-shadow: 0px 0px 10px 1px white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 50px;
	width: 190px;
	height: 350px;
	background-color: #f40e80;
	}

#content
{
	-webkit-box-shadow: 0px 0px 10px 1px white;
	-moz-box-shadow: 0px 0px 10px 1px white;
	box-shadow: 0px 0px 10px 1px white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width: 600px;
	height: 400px;
	margin-left: 20px;
	background-color: #1c8fe0;
}

#content_title
{
	cursor: move;
	position: relative;
	float: left;
	top: 0x;
	left: 5px;
}
#content_title_container
{
width: 600px;
height: 80px;

}

.arrow_container
{
position: absolute;
float:right; 
bottom: 10px;
right:10px;
width: 90px;
height: 40px;
background-color: #f66fb2;

}
#left_arrow
{
background-color: #f40e80;
background-image: url(../pic/right.png);
float:left;
width: 40px;
height: 40px;
margin-right: 10px;
}

#right_arrow
{
background-image: url(../pic/left.png);
background-color: #f40e80;
float:right;
width: 40px;
height: 40px;


}
#spinner {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.6;
	-moz-opacity: 0.6;
	-webkit-opacity:0.6;
    width: 128px;
    height: 128px;
    background-image: url(../pic/130.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -64px;
}

.contentimg
{
float: left;
height: 300px;
width: 300px;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.contenttext
{
 
margin-top: 10px;
width:270px;
height:310px;
overflow: auto;
font-family: "Tahoma";
font-size: 12;
color: white;
text-align: left;
text-shadow: -1px -1px grey;
 
}

img.polaroid
{
width:300px;
height: 300px;
padding: 10px;
padding-bottom: 40px;
background-color: white;
box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
background-image: -webkit-linear-gradient(top, #fff 85%, #eee);
background-image: -moz-linear-gradient(top, #fff 85%, #eee);
background-image: linear-gradient(top, #fff 85%, #eee);
-webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
transform: rotate(-2deg);
position: relative;
left: -25px;
}


#scrollbar1 { float:left; width: 270px; margin: 20px 0 10px; margin-left: 10px;}
#scrollbar1 .viewport { width: 250px; height: 300px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; font-family: "Tahoma";
font-size: 12pt;
color: white;
text-align: left;
text-shadow: -1px -1px grey;}
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color:  #f40e80;}
#scrollbar1 .scrollbar { position: relative; float: right; width: 15px; right: -40px }
#scrollbar1 .track { background-color: #f66fb2; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 20px; width: 13px; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }